<form action="/answer" id="comment-form">
  <div class="form-group">
    <label for="question">Speak to your coach</label>
    <br>
    <input type="text" name="query" class="form-control" placeholder="Any questions?">
  </div>
  <input type="submit" value="Send" class="btn btn-primary"value="Go on!">
</form>

